page-info-document {
button.button-group {
		background-color: white;
		display: block;
		margin-left: auto;
		margin-right: auto;
	}
	
	label {
		color: #67aaf9;
	}
	
	ion-content.content.content-md {
		background-color: white !important;
	}

	button.edit {
		float: right;
		width: 38px;
	}

	p.info {
		float: right;
	}

	h1.name {
		margin-top: 10px !important;
	}

	p.type {
		margin-top: -12px;
	}

	h4.h4 {
		font-size: 16px !important;
		font-weight: bold !important;
	}

}
