page-export {
	
	ion-content.content.content-md {
		background-color: white !important;
	}

	button#export {
		color: #67aaf9;
		border-color: #67aaf9;
		border-radius: 10px;
		font-size: 16px;
		margin-bottom: 15px;
	}

}
