page-export {
	button.export.disable-hover.button.button-md.button-outline.button-outline-md.button-round.button-round-md {
		display: block;
		width: 100%;
		text-align: left;
	}

	button.export.disable-hover.button.button-md.button-default.button-default-md {
		display: block;
		font-size: 18px;
		margin-top: 15px;
		background-color: #67aaf9;
		color: black;
		height: 50px;
	}
}
