page-info-passport {

	ion-content.content.content-md {
		background-color: white !important;
	}

	button.edit {
		float: right;
		width: 38px;
	}

	p.info {
		float: right;
	}

	h1.name {
		margin-top: 10px !important;
	}

	p.type {
		margin-top: -12px;
	}

	h4.h4 {
		font-size: 16px !important;
		font-weight: bold !important;
	}

	button.share.disable-hover.bar-button.bar-button-md.bar-button-default.bar-button-default-md {
    color: white;
}

}
