page-image-passport {

    ion-content.content.content-md {
        background-color: white !important;
    }

   button.back-button.disable-hover.bar-button.bar-button-md.back-button-md.bar-button-default.bar-button-default-md.show-back-button {
        color: white;
    }
    
    button.disable-hover.bar-button.bar-button-md.bar-button-outline.bar-button-outline-md.bar-button-round.bar-button-round-md {
        color: white;
        border-color: white;
        border-radius: 18px;
        padding: 17px;
        font-weight: bold;
    }
    
    button.disable-hover.button.button-md.button-default.button-default-md.button-block.button-block-md {
        background-color: white;
        color: #67aaf9;
        box-shadow: 0px 0px;
    }
    
    ion-icon.filter.icon.icon-md.ion-md-color-wand {
        font-size: 25px;
        color: #67aaf9;
    }
    
    ion-icon.crop.icon.icon-md.ion-md-crop {
        font-size: 25px;
        color: #67aaf9;
    }
    
    ion-icon.rotate.icon.icon-md.ion-md-refresh {
        font-size: 25px;
        color: #67aaf9;
    }
    
    ion-icon.delete.icon.icon-md.ion-md-trash {
        font-size: 25px;
        color: #67aaf9;
    }
    
    ion-icon.save.icon.icon-md.ion-md-checkmark {
        font-size: 25px;
        color: #67aaf9;
    }
    
    .displayImage {
        max-height: 460px;
        max-width: 328px;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    
    input.text-input.text-input-md {
        margin-left: -10px;
        border-bottom: 1px dotted white;
    }
    
    button.button-group {
        background-color: white;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    
    label {
        color: #67aaf9;
    }
    
    button.more.disable-hover.bar-button.bar-button-md.bar-button-default.bar-button-default-md {
        color: white;
        font-size: 20px;
    }
    
    button.disable-hover.bar-button.bar-button-md.bar-button-default.bar-button-default-md {
        font-size: 20px;
        color: white;
        margin-right: 6px;
    } 

}
