page-info-identity {
	
	p.info {
		float: right;
	}

	h1.name {
		margin-top: 10px !important;
	}

	p.type {
		margin-top: -12px;
	}

	h4.h4 {
		font-size: 16px !important;
		font-weight: bold !important;
	}

}
