<ion-menu id="myMenu" [content]="content">

  <ion-content class="menu">

    <ion-list class="logo-menu">

      <img class="logo-menu" src="../assets/imgs/logo-no.png" alt="logo" class="logo">

      <ion-list-header class="logo-menu" *ngIf="auth.getEmail()">Chào, {{auth.getEmail()}}</ion-list-header>
      <ion-list-header class="logo-menu" *ngIf="auth.getPhone()">Chào, {{auth.getPhone()}}</ion-list-header>

      <button class="logo-menu" menuClose ion-item *ngFor="let p of pages" (click)="openPage(p)">
        {{p.title}}
      </button>

      <ion-item class="logo-menu" (click)="logout()" *ngIf="auth.authenticated">
        Log out
      </ion-item>

    </ion-list>

  </ion-content>

</ion-menu>

<!-- Disable swipe-to-go-back because it's poor UX to combine STGB with side menus -->
<ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>