button.back-button.disable-hover.bar-button.bar-button-md.back-button-md.bar-button-default.bar-button-default-md.show-back-button {
    color: white;
}

	ion-content{
		background-color: #67aaf9;
		text-align: center;
	}

	ion-list-header.logo-menu.item.item-md.list-header.list-header-md {
		font-size: 15px;
		background-color: #67aaf9;
		border-top-color: transparent;
		color: white;
	}

	ion-content.menu.content.content-md {
		background-color: #67aaf9;
	}

	img.logo {
		width: 100px;
		margin-top: 10px;
	}

	ion-item.logo-menu.item.item-block.item-md {
		background-color: #67aaf9;
		color: white;
	}

	button.logo-menu.item.item-block.item-md {
		background-color: #67aaf9;
		color: white;
	}

	.toolbar-background.toolbar-background-md {
		background-color: #67aaf9;
	}

	.toolbar-title.toolbar-title-md {
		color: white;
	}

	button.back-button.disable-hover.bar-button.bar-button-md.back-button-md.bar-button-default.bar-button-default-md.show-back-button {
		color: white;
	}

	button.back-button.bar-button.bar-button-md.back-button-md.bar-button-default.bar-button-default-md.show-back-button {
		color: white;
	}

	html, body, ion-app, ion-content, ion-page, .nav-decor {
		background-color: transparent !important;
	}

	ion-content.menu.content.content-md {
    background-color: #67aaf9!important;
}